# Rust
target/
Cargo.lock

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Semihosting persistence files
etheram-embassy/persistency/*
!etheram-embassy/persistency/.gitkeep
raft-embassy/persistency/*
!raft-embassy/persistency/.gitkeep
